#project-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

#project-list li {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "header screenshot"
    "description screenshot"
    "link screenshot";
}

#project-list li:nth-child(2n-1) {
  background-color: #101010;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "screenshot header"
    "screenshot description"
    "screenshot link";
}

@media only screen and (max-width: 600px) {
  /* #project-list li {
    display: block;
  } */
}

.project-description {
  margin-top: 0;
  grid-area: description;
}
.project-link {
  grid-area: link;
}
.project-screenshot {
  grid-column: 2;
  grid-area: screenshot;
}

.project-screenshot img {
  border: 5px solid #db810c;
  border-radius: 15px;
}
