/* #DB810C F6e27F */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
}

h1 {
  color: hsl(34, 90%, 43%);
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  color: hsl(34, 85%, 40%);
  margin-top: 0px;
}

body {
  background-color: #090909;
  max-width: 1200px;
  margin: auto;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 730px) {
  body {
    margin: auto 10px;
  }
}

header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #151515;
  background-color: hsl(34, 90%, 43%);
  position: sticky;
}

@media only screen and (min-width: 731px) and (max-width: 1220px) {
  header {
    margin: 10px;
  }
}

#main {
  max-width: 700px;
  margin: auto;
  background-color: #171717;
  border-radius: 10px;
  padding: 5px 10px;
}

nav ul {
  list-style: none;
  padding: 0.5em;
  margin: none;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 8px;
  margin: 10px 0;
  border-radius: 3px;
}

nav a:hover {
  color: #db810c;
  background-color: #f6e274;
}

p {
  padding: 5px;
  font-size: 1.1em;
  line-height: 1.1em;
}

footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #151515;
  background-color: #db810c;
}

a {
  text-decoration: none;
  color: #f6e274;
  font-weight: 600;
}
