body {
  background-color: hsl(27.5, 60%, 85%);
}

#container {
  display: grid;
  height: 400px;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 15%;
  grid-template-rows: 15% 1fr 1fr 1fr 1fr 15%;
}

#playback-controls {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

#BPM-controls {
  margin: 3em;
  text-align: center;
}

#BPM-controls > input {
  -webkit-appearance: none;
  width: 400px;
}

#BPM-controls > input:disabled {
  display: none;
}

#BPM-controls > input::-webkit-slider-runnable-track {
  background: hsl(27.5, 60%, 15%);
  border-radius: 0.5em;
  height: 1em;
}

#BPM-controls > input::-moz-range-track {
  background: hsl(27.5, 60%, 15%);
  border-radius: 0.5em;
  height: 1em;
}

#BPM-controls > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: hsl(27.5, 60%, 50%);
  border-radius: 1em;
  margin-top: -0.5em;
  height: 2em;
  width: 2em;
}

#BPM-controls > input::-moz-range-thumb {
  background: hsl(27.5, 60%, 50%);
  border-radius: 1em;
  margin-top: -0.5em;
  height: 2em;
  width: 2em;
}

#BPM-display {
  color: hsl(117.5, 40%, 15%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#BPM-display > #value {
  font-size: 5em;
}

button {
  background-color: transparent;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}

button.play {
  border-width: 30px 0px 30px 60px;
  border-color: transparent transparent transparent hsl(120, 100%, 50%);
}

button.play:active {
  border-color: transparent transparent transparent hsl(120, 100%, 30%);
}

button.pause {
  border-style: solid;
  border-width: 0 30px 0 30px;
  border-color: hsl(60, 100%, 50%);
}

button.pause:active {
  border-color: hsl(60, 100%, 30%);
}

button.stop {
  border: none;
  background-color: hsl(0, 100%, 50%);
}

button.stop:active {
  background-color: hsl(0, 100%, 30%);
}

.kick {
  grid-row: 2/3;
  margin: 1em;
  background-color: hsl(50, 60%, 60%);
}

.kick.playing {
  box-sizing: border-box;
  border: 8px solid hsl(50, 80%, 80%);
}

.kick.cued {
  background-color: hsl(50, 40%, 40%);
}

.snare {
  grid-row: 3/4;
  margin: 1em;
  background-color: hsl(95, 60%, 60%);
}

.snare.playing {
  box-sizing: border-box;
  border: 8px solid hsl(95, 80%, 80%);
}

.snare.cued {
  background-color: hsl(95, 40%, 40%);
}

.hihat {
  grid-row: 4/5;
  margin: 1em;
  background-color: hsl(140, 60%, 60%);
}

.hihat.playing {
  box-sizing: border-box;
  border: 8px solid hsl(140, 80%, 80%);
}

.hihat.cued {
  background-color: hsl(140, 40%, 40%);
}

.cymbal {
  grid-row: 5/6;
  margin: 1em;
  background-color: hsl(185, 60%, 60%);
}

.cymbal.playing {
  box-sizing: border-box;
  border: 8px solid hsl(185, 80%, 80%);
}

.cymbal.cued {
  background-color: hsl(185, 40%, 40%);
}

.beat1 {
  grid-column: 2/3;
}

.beat2 {
  grid-column: 3/4;
}

.beat3 {
  grid-column: 4/5;
}

.beat4 {
  grid-column: 5/6;
}

.beat5 {
  grid-column: 6/7;
}

.beat6 {
  grid-column: 7/8;
}

.beat7 {
  grid-column: 8/9;
}

.beat8 {
  grid-column: 9/10;
}
